doctype html

html
  head
    link(rel="stylesheet", href="./assets/css/globals.css")
    script(src="./assets/js/vendors/vendors.js")
  body
    .container
      h2 hello crazy ass developing bloggers
    grid
      column__1-2
        h2 i'm in one
      column__1-2
        h2 i'm in two and three and four
    section testing another
    script(src="./assets/js/main.js")
    script(src="./assets/js/libs/libs.js")
