doctype html

html
  head
    link(rel="stylesheet", href="./assets/css/globals.css")
  body
    .container
      h2 hello crazy ass developing bloggers
    grid
      column__1-2
        h2 i'm in one
      column__1-2
        h2 i'm in two

    section no more testing