doctype html

html
  head
    link(rel="stylesheet", href="./assets/css/globals.css")
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    script(src="./assets/js/vendors/vendors.js")
  body
    .container
      h2 hello crazy ass developing bloggers
    grid
      column__1-2
        h2 i'm in one
      column__1-2
        h2 i'm in two and three and four
        p somethings
    include ./horizontalNav.pug

    section testing another
      button(onClick='getAirTableData()') Get Airtable Data
      div(data-air-table-object)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="slick/slick.min.js")
    script(src="./assets/js/main.js")
    script(src="./assets/js/libs/libs.js")
    script(src="./assets/js/horizontalNav.js")




